{% extends 'base.html' %}

{% block title %}{{ post.name }}{% endblock %}

{% block content %}
<div class="gap-6">
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ post.message }}</h1>
        <p class="text-gray-500"><strong>Likes :     </strong>{{ post.count_likes }}</p>
        <p class="text-gray-500"><strong>Flagged :   </strong>{{ post.flagged }}</p>
        <p class="text-gray-500"><strong>Created On: </strong>{{ post.created_at }}</p>
        <p class="text-gray-500"><strong>Created By: </strong>{{ post.created_by.username }}</p>

        <p class="text-gray-500"><strong>Liked By :     </strong>
            {%  for like in likes %}
             &nbsp   {{ like.user }} &nbsp  |
            {% endfor %}
        </p>

        <a href="{% url 'post:like' post.id %}" class="mt-2 py-4 px-8 inline-block bg-blue-500 text-lg rounded-xl text-white">Like</a>

        {%  if 'post.moderator_users' in perms %}
            <a href="{% url 'post:flag' post.id %}" class="mt-2 py-4 px-8 inline-block bg-red-500 text-lg rounded-xl text-white">Flag</a>
        {% endif %}
    </div>
</div>

{% endblock %}