{% extends 'base.html' %}

{% block title %}Postings{% endblock %}

{% block content %}
    <div class="pb-6  bg-gray-100">
        <div class="col-span-1">
            <form method="get" action="{% url 'post:posts' %}">
                <input name="query" class="w-1/2 py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find string within post(s)">

                <button class="text-center mt-2 mb-4 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
                 <a href="{% url 'post:posts' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a>
            </form>
        </div>
    </div>

    {% include 'postings.html' %}

{% endblock %}