{% extends 'base.html' %}

{% block title %}Postings{% endblock %}

{% block content %}
    <div class="pb-6  bg-gray-100">
        <div class="col-span-1">
            <form method="get" action="{% url 'post:posts' %}">
                <input name="query" class="w-1/2 py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find string within post(s)">

                <button class="text-center mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
                 <a href="{% url 'post:posts' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a>
            </form>


{##}
        </div>

    <h3 class="mb-12 text-2xl text-center">POSTINGS</h3>

        <div class="col-span-3">
            <div class="grid  gap-3">
                {% for post in posts %}
                    <div>
                        <a href="{% url 'post:detail' post.id %}">
                            <div class=" font-semibold py-4 px-6 p-6 bg-white rounded-b-xl">
                                Message: {{ post.message }}
                            </div>
                            <div class="py-4 px-6 p-6 bg-white rounded-b-xl">
                                | Posted By: <b> {{ post.created_by }} </b> &nbsp |

                                Likes: <b> {{ post.count_likes }} </b> &nbsp |

                                {%  if post.flagged %}
                                    Flagged:  <b style="color: red"> {{ post.flagged }} </b> &nbsp |
                                {%  else %}
                                    Flagged:  <b > {{ post.flagged }} </b> &nbsp |
                                {%  endif %}

                                {% if post.frequency_count %}
                                    Frequence of Occurances for <i>[{{ query }}] </i> : <b> {{ post.frequency_count }}  </b> |
                                {%  endif %}

                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}